.equipe{
    text-align: center;
    padding: 15px;
}

.equipe h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}
.clientes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}